<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Metas e Comissões:</h4>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Metas do Mês:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>