<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="" data-image="../assets/img/login-bg.jpg">

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <div *ngIf="loading" class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>

                        <form *ngIf="!loading && !success" ngNativeValidate (ngSubmit)="onSubmit()">
                            <div class="card" data-background="color" data-color="blue">
                                <div class="card-header">
                                    <img class="logo-header img-responsive" src="../assets/img/damiipratii-logo-primary.png" alt="">
                                    <h3 class="card-title">Redefinir minha senha</h3>
                                    <p>Olá {{ user.name }}! Quase lá! Agora só falta informar sua nova senha</p>
                                </div>
                                <div class="card-content">
                                    <div class="form-group">
                                        <label>Nova senha</label>
                                        <input class="form-control input-no-border" [(ngModel)]="user.pass1" name="pass1" required placeholder="Sua senha" type="password">
                                    </div>
                                    <div class="form-group">
                                        <label>Repita a nova senha</label>
                                        <input class="form-control input-no-border" [(ngModel)]="user.pass2" name="pass2" required placeholder="Sua senha" type="password">
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="btn btn-fill btn-wd" *ngIf="user.pass1 && user.pass2 && user.pass1 == user.pass2" type="submit">Redefinir</button>
                                    <div class="forgot">
                                        <a routerLink="../../../">Página inicial</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div *ngIf="success" class="card" data-background="color" data-color="blue">
                            <div class="card-header">
                                <img class="logo-header img-responsive" src="../assets/img/damiipratii-logo-primary.png" alt="">
                                <h3 class="card-title">Redefinição realizada com sucesso!</h3>
                            </div>
                            <div class="card-footer text-center">
                                <div class="forgot">
                                    <a routerLink="../../login">Fazer login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <div class="copyright">
                    © 2017, Damiipratii
                </div>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../assets/img/login-bg.jpg) "></div>
    </div>
</div>