<div class="content">
    <div class="card">
        <div class="header">
            <h4 class="title">1 - Dados do Cliente</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <label>Pesquisar por nome ou cpf (somente números):</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchclient" [(ngModel)]="searchClient">
                        <span (click)="getSearchClient()" title="Pesquisar..." class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="loadClients">
                <div class="col-md-12 text-center">
                    pesquisando clientes ...
                </div>
            </div>

            <div class="row" *ngIf="resClients">
                <div class="col-md-12">
                    <h5>Selecione o cliente:</h5>
                    <div class="list-group">
                        <a (click)="setClient(c)" class="list-group-item" *ngFor="let c of resClients">{{c.name}}
                            <{{ c.cpf }}>
                                <span class="badge">{{c.email}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="client">
        <div class="header">
            <h4 class="title">2 - Período de Locação</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Selecione o atendente:</label>
                        <select class="form-control" name="seller_id" [(ngModel)]="seller_id">
                            <option *ngFor="let s of sellers" [value]="s.id">{{s.name}}</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="seller_id" class="col-md-3">
                    <div class="form-group">
                        <label>Retirada:</label>
                        <input type="date" [min]="today" class="form-control" [(ngModel)]="out" name="out">
                    </div>
                </div>
                <div class="col-md-3" *ngIf="out">
                    <div class="form-group">
                        <label>Devolução:</label>
                        <input type="date" [min]="today" (change)="calcDiff()" class="form-control" [(ngModel)]="return" name="return">
                    </div>
                </div>
                <div class="col-md-3" *ngIf="return">
                    <div class="form-group">
                        <label for="">Selecione a forma de pagamento:</label>
                        <select class="form-control" name="payment" [(ngModel)]="payment_method">
                            <option value="Débito">Débito</option>
                            <option value="Crédito">Crédito</option>
                            <option value="Dinheiro">Dinheiro</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="out  && return">
        <div class="header">
            <h4 class="title">3 - Itens da Ordem de Locação</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <label>Pesquisar por código ou nome do item:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchitem" [(ngModel)]="searchItem">
                        <span (click)="getSearchItem()" title="Pesquisar..." class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="loadItens">
                <div class="col-md-12 text-center">
                    pesquisando itens ...
                </div>
            </div>

            <div class="row" *ngIf="resItens">
                <div class="col-md-12" *ngIf="resItens.length > 0">
                    <h5>Selecione o(s) iten(s):</h5>
                    <table class="table table-hover table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Cod.</th>
                                <th>Item</th>
                                <th>Descr. Curta</th>
                                <th>Valor</th>
                                <th>Tamanho</th>
                                <th>Disponíveis</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of resItens">
                                <td align="center">
                                    <a (click)="addOrderItem(i)" *ngIf="i.available > 0" class="btn btn-success">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                </td>
                                <td align="center">{{ i.id }}</td>
                                <td align="center">{{ i.code }}</td>
                                <td align="center">{{ i.label }}</td>
                                <td align="center">{{ i.short_description }}</td>
                                <td align="center">{{ i.price | currency: "BRL" }}</td>
                                <td align="center">{{ i.size }}</td>
                                <td align="center">{{ i.available }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" *ngIf="resItens.length == 0">
                    <h4>Nenhum item encontrado na pesquisa...</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="itens.length > 0">
        <div class="header">
            <h4 class="title">4 - Resumo</h4>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Cliente:</strong>
                        <br> {{client.id}} # {{client.name}}
                        <br> {{client.address}}
                        <br> {{client.complement}}
                        <br> {{client.city}} / {{client.uf}}
                        <br> {{client.email}} / {{client.phone}}
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Forma de Pagamento:</strong>
                        <br> {{payment_method}}
                        <br>
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Data de retirada dos itens:</strong>
                        <br> {{out | date: "dd/MM/yyyy"}}
                        <br>
                        <br>
                        <strong>Data de devolução esperada:</strong>
                        <br> {{return | date: "dd/MM/yyyy"}}
                        <br>
                        <br>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <strong>Descritivo de itens</strong>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td>
                                                <strong>#</strong>
                                            </td>
                                            <td>
                                                <strong>Item</strong>
                                            </td>
                                            <td class="text-center">
                                                <strong>Tamanho</strong>
                                            </td>
                                            <td class="text-center">
                                                <strong>Diária</strong>
                                            </td>
                                            <td class="text-center">
                                                <strong>Dias</strong>
                                            </td>
                                            <td class="text-right">
                                                <strong>Total</strong>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                        <tr *ngFor="let i of itens">
                                            <td>
                                                <a href="javascript:void(0)" class="text-danger" (click)="rmItem(i)">
                                                    <i class="fa fa-trash-o"></i>
                                                </a> {{i.code}}
                                            </td>
                                            <td>{{i.label}}</td>
                                            <td class="text-center">{{i.size}}</td>
                                            <td class="text-center">{{i.price | currency: "BRL"}}</td>
                                            <td class="text-center">{{ i.days }}</td>
                                            <td class="text-right">{{i.subtotal | currency: "BRL"}}</td>
                                        </tr>

                                        <tr>
                                            <td class="thick-line"></td>
                                            <td class="thick-line"></td>
                                            <td class="thick-line"></td>
                                            <td class="thick-line"></td>
                                            <td class="thick-line text-center">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td class="thick-line text-right"> {{ subtotal | currency: "BRL"}}</td>
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center">
                                                <strong>Desconto</strong>
                                            </td>
                                            <td class="text-right">
                                                <input type="text" name="off" (change)="setTotal()" class="form-control text-right" [(ngModel)]="discount">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="text-right">
                                                <strong>{{ total | currency: "BRL"}}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="itens.length > 0">
        <div class="header">
            <h4 class="title">5 - Observações</h4>
        </div>
        <div class="content">
            <div class="form-group">
                <textarea name="obs" [(ngModel)]="obs" class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a routerLink="../" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i> Voltar
            </a>
            <button type="button" (click)="createOrder()" *ngIf="payment_method && subtotal" class="btn btn-success">
                <i class="fa fa-save"></i> GERAR ORDEM</button>
            <br>
            <br>
        </div>
    </div>
</div>