<div class="header" *ngIf="categories">
    <h4 class="title">Categoria de Produtos
        <a routerLink="../categories-create" class="btn btn-success pull-right">
            <i class="fa fa-plus"></i> Nova Categoria
        </a>
        <a routerLink="../" class="btn btn-default pull-right">
            <i class="fa fa-chevron-left"></i> Voltar
        </a>
    </h4>
    <p class="category">{{categories.lenth}} categorias</p>

</div>
<div class="content" *ngIf="categories">
    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of categories">
                <td>{{ c.id }}</td>
                <td>{{ c.label }}</td>
                <td>
                    <a (click)="openModal(update, c)" title="Editar" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a (click)="openModal(template, c)" title="Excluir" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Deseja mesmo excluir a categoria "{{ refId.label }}"? Ao confirmar os itens vinculados a ela serão excluídos!</p>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Não</button>
    </div>
</ng-template>

<ng-template #update>
    <form (ngSubmit)="updateCategory()" ngNativeValidate>
        <div class="modal-header">
            <h4 class="modal-title">Alterar categoria: "{{ refId.label }}"</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Categoria:</label>
                        <input type="text" name="newlabel" [(ngModel)]="refId.newlabel" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="button" (click)="modalRef.hide()" class="btn btn-default">Cancelar</button>
        </div>
    </form>
</ng-template>