<div class="header">
    <h4 class="title">Nova Categoria</h4>
</div>
<div class="content">
    <form (ngSubmit)="store()" name="create-category">
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label>Rótulo da Categoria</label>

                    <input type="text" class="form-control" [(ngModel)]="label" name="label">
                </div>
            </div>

            <div class="col-md-12 text-center">
                <a routerLink="../" class="btn btn-primary">
                    <i class="fa fa-chevron-left"></i> Voltar
                </a>
                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Salvar</button>

            </div>

        </div>
    </form>
</div>