<div class="header">
    <h4 class="title">Clientes Cadastrados
        <a routerLink="create" class="btn btn-success pull-right">
            <i class="fa fa-plus"></i> Novo
        </a>
    </h4>
    <p class="category">{{ clients.length }} clientes cadastrados </p>
</div>
<div class="content">
    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clients">
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.cpf }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.phone }}</td>
                <td>
                    <a  title="Editar" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a  title="Fotos" class="btn btn-primary">
                        <i class="fa fa-camera"></i>
                    </a>
                    <a  title="Tamanhos" class="btn btn-primary">
                        <i class="ti-ruler-alt-2"></i>
                    </a>
                    <a (click)="openModal(template, c, 'sm')" title="Excluir" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Deseja mesmo excluir o cliente "{{ refId.name }}"?</p>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Não</button>
    </div>
</ng-template>