<div id="container">
    <div class="container">
        <div class="row">
            <!-- Feature Box Start-->
            <div class="container">
                <div class="custom-feature-box row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="feature-box fbox_1">
                            <div class="title">Free Shipping</div>
                            <p>Free shipping on order over $1000</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="feature-box fbox_2">
                            <div class="title">Easy Return</div>
                            <p>Easy return in 24 days after purchasing</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Feature Box End-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-xs-12">
                <div class="col-md-3 text-center" *ngFor="let n of news">
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="product.html"><img [src]="baseUrl + n.images[0].file" [alt]="n.label" [title]="n.label" class="img-responsive" /></a>
                        </div>
                        <div class="caption">
                            <h4><a href="product.html">{{n.label}}</a></h4>
                            <p class="price"><span class="price-new">{{n.price | currency:"BRL" }}</span>
                                <!-- <span class="saving">-10%</span> -->
                            </p>
                        </div>
                        <div class="button-group">
                            <button class="btn-primary" type="button"><span>Adicionar ao carrinho</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Middle Part End-->
        </div>
    </div>
</div>