<div class="header">
    <h4 class="title">Ordens de Locação
        <a routerLink="create" class="btn btn-success pull-right">
            <i class="fa fa-plus"></i> GERAR NOVA OL
        </a>
    </h4>
    <p class="category">{{ orders.length }} ordens no sistema </p>
</div>
<div class="content">
    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Cliente</th>
                <th>De</th>
                <th>Até</th>
                <th>Registro</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of orders">
                <td>{{ c.id }}</td>
                <td>{{ c.code }}</td>
                <td>{{ c.client.name }}</td>
                <td>{{ c.output | date: 'dd/MM/yy' }}</td>
                <td>{{ c.expected_return | date: 'dd/MM/yy' }}</td>
                <td>{{ c.created_at | date: 'dd/MM/yy' }}</td>
                <td>{{ c.status }}</td>
                <td>
                    <a [routerLink]="['view', c.id]" title="Visualizar" class="btn btn-default">
                        <i class="fa fa-search"></i>
                    </a>
                    <a *ngIf="c.status == 'Aguardando Confirmação' || c.status == 'Alugado'" (click)="openModal(payment, c)" title="Registrar pagamento"
                        class="btn btn-default">
                        <i class="fa fa-usd"></i>
                    </a>
                    <a *ngIf="c.status != 'Cancelado' && c.status != 'Finalizado' && c.status != 'Finalizado com Atraso'" (click)="openModal(cancel, c)"
                        title="Cancelar" class="btn btn-danger">
                        <i class="ti-close"></i>
                    </a>
                    <a *ngIf="c.status != 'Cancelado' && c.status != 'Finalizado' && c.status != 'Aguardando Confirmação' && c.status != 'Finalizado com Atraso'" (click)="openModal(finish, c)"
                        title="Finalizar" class="btn btn-success">
                        <i class="fa fa-check"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #payment>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Recebimento de Valores - OL # {{ reference.code }}</h5>
        </div>
        <div class="modal-body">
            <p>
                {{ reference.client.name }}, CPF: {{ reference.client.cpf }}
            </p>
            <p>Registrada em: {{ reference.created_at | date: 'dd/MM/yy' }}</p>
            <br>
            <p>Resumo:</p>
            <table class="table table-condensed">
                <tr>
                    <td>Ordem de Locação</td>
                    <td>{{ reference.code }}</td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>{{ reference.subtotal | currency: "BRL" }}</td>
                </tr>
                <tr>
                    <td>Multa</td>
                    <td>
                        <input type="text" name="fines" class="form-control" [(ngModel)]="reference.fines">
                    </td>
                </tr>
                <tr>
                    <td>Juros</td>
                    <td>
                        <input type="text" name="fines" class="form-control" [(ngModel)]="reference.interest">
                    </td>
                </tr>
                <tr>
                    <td>Desconto</td>
                    <td>{{ reference.discount | currency: "BRL" }}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{ reference.total | currency: "BRL" }}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
            <button type="button" class="btn btn-success">Confirmar Recebimento</button>
        </div>
    </div>
</ng-template>

<ng-template #finish>
    <div class="modal-body text-center">
        <p>Deseja mesmo FINALIZAR essa OL # {{ reference.code }}?</p>
        <button type="button" class="btn btn-success" (click)="setStatus('Finalizado')">SIM</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancelar</button>
    </div>
</ng-template>

<ng-template #cancel>
    <div class="modal-body text-center">
        <p>Deseja mesmo CANCELAR essa OL # {{ reference.code }}?</p>
        <button type="button" class="btn btn-danger" (click)="setStatus('Cancelado')">SIM</button>
        <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Cancelar</button>
    </div>
</ng-template>