<!--Footer Start-->
<footer id="footer">
    <div class="fpart-first">
        <div class="container">
            <div class="row">
                <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h5>Sobre a Damiipratii</h5>
                    <p>Marketshop is HTML Ecommerce Template. This is a CMS block. You can insert any content (HTML, Text, Images) Here.</p>
                    <img alt="" class="img-responsive" width="180" src="./assets/img/damiipratii-logo-primary.png"> </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="about-us.html">Sobre</a></li>
                        <li><a href="about-us.html">Termos de Uso</a></li>
                        <li><a href="about-us.html">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>Atendimento</h5>
                    <ul>
                        <li><a href="contact-us.html">Fale Conosco</a></li>
                        <li><a href="#">Devoluções</a></li>
                        <li><a href="sitemap.html">Site Map</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="fpart-second">
        <div class="container">
            <div id="powered" class="clearfix">
                <div class="powered_text pull-left flip">
                    <p>Damiipratii © 2018 </p>
                </div>
                <div class="social pull-right flip">
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/socialicons/facebook.png" alt="Facebook" title="Facebook"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a>
                </div>
            </div>
            <div class="bottom-row">
                <div class="custom-text text-center">
                    <p>Formas de pagamento
                    </p>
                </div>
                <div class="payments_types">
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/payment/payment_paypal.png" alt="paypal" title="PayPal"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/payment/payment_american.png" alt="american-express" title="American Express"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/payment/payment_2checkout.png" alt="2checkout" title="2checkout"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/payment/payment_maestro.png" alt="maestro" title="Maestro"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/payment/payment_discover.png" alt="discover" title="Discover"></a>
                    <a href="#" target="_blank"> <img data-toggle="tooltip" src="./assets/front/image/payment/payment_mastercard.png" alt="mastercard" title="MasterCard"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
</footer>
<!--Footer End-->